// Cores
$color-primary: #182C61;
$color-secondary: #f5f6fa;
$color-white: #fff;
$color-green: #44bd32;
$color-green-hover: #4cd137;
$color-text: #333;
$color-light-gray: #ccc;

// Fontes
$font-default: 'Roboto', sans-serif;

// Layout
$container-max-width: 1024px;
$padding-section: 56px 0;

// Breakpoints
$breakpoint-desktop: 1023px;
$breakpoint-tablet: 767px;