$corDeFundo: #000000;
$corTextoPrincipal: #f9f9f9;
$corTextoSecundario: #ffffff;
$corAranhaVermelho: #E62429;
$corAranhaAzul: #0072CE;

$corDeFundoBotaoPrimario: $corAranhaVermelho;
$corDeFundoBotaoSecundario: $corAranhaAzul;
$corDeFundoBotaoDark: #1a1a1a;